*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F4F2EE;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
p{
    text-align: justify;
}
/* -- header nav y logo --*/
/*header{
    background-color: white;
}*/
header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;    
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;    
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* -- main y section --*/
main {
    max-width: 1020px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

#hero {
    text-align: center;
    margin-top: -10px;
    padding: 50px 0px;
    background-color: #25863a;
    color: white;
}

#beneficios ul{
    display: flex;
    justify-content: space-between;    
}
#beneficios li {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);    
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;    
    list-style-type: none;
}

#beneficios, #tecnologias {
    margin-bottom: 40px;
}
#tecnologias{
    background-color: #0e756d;
    padding: 7px;
    border-radius: 5px;
    color: #fff;
}
#tecnologias .grid ul{
    display: flex;
    justify-content: space-between;
}
#tecnologias .grid li{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);       
    padding: 20px;
    box-sizing: border-box;
    text-align: center;    
    list-style-type: none;
}

section{
    margin: 20px 0 auto;
}
section h4{
    color: #17705d;
}
section img{
    margin: 10px 0;
}

/* -- footer -- */
footer{
    background-color: wheat;
}

footer { 
    color:#089274;
    text-align: center;
    padding: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #089274;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #17705d;
}
